n8n/calendar-sync.json
{
  "name": "Weekday Calendar Consolidation",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": [
          {
            "cronExpression": "0 5-20 * * 1-5"
          }
        ]
      },
      "id": "1",
      "name": "Weekday Hourly Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "const now = new Date();\nconst horizon = new Date(now.getTime() + 1000 * 60 * 60 * 24 * 30);\n\nreturn [{\n  json: {\n    timeMin: now.toISOString(),\n    timeMax: horizon.toISOString()\n  }\n}];"
      },
      "id": "2",
      "name": "Set Time Window",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        440,
        300
      ]
    },
    {
      "parameters": {
        "calendar": "primary",
        "operation": "getAll",
        "additionalFields": {
          "singleEvents": true,
          "timeMin": "={{$json.timeMin}}",
          "timeMax": "={{$json.timeMax}}"
        }
      },
      "id": "3",
      "name": "Source Calendar A",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 3,
      "position": [
        700,
        120
      ],
      "credentials": {
        "googleCalendarOAuth2": {
          "name": "Google Calendar (Source A)"
        }
      }
    },
    {
      "parameters": {
        "calendar": "primary",
        "operation": "getAll",
        "additionalFields": {
          "singleEvents": true,
          "timeMin": "={{$json.timeMin}}",
          "timeMax": "={{$json.timeMax}}"
        }
      },
      "id": "4",
      "name": "Source Calendar B",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 3,
      "position": [
        700,
        480
      ],
      "credentials": {
        "googleCalendarOAuth2": {
          "name": "Google Calendar (Source B)"
        }
      }
    },
    {
      "parameters": {
        "mode": "append"
      },
      "id": "5",
      "name": "Merge Feeds",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        940,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "// Normalize events from both source calendars\nconst items = items.map(item => {\n  const source = item.json;\n  const start = source.start?.dateTime || source.start?.date;\n  const end = source.end?.dateTime || source.end?.date;\n  const uid = `${source.organizer?.email || 'source'}-${source.id}`;\n\n  return {\n    json: {\n      uid,\n      summary: source.summary || 'Untitled Event',\n      description: source.description || '',\n      location: source.location || '',\n      start,\n      end\n    }\n  };\n});\n\nreturn items;"
      },
      "id": "6",
      "name": "Normalize Events",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1160,
        300
      ]
    },
    {
      "parameters": {
        "operation": "upsert",
        "calendar": "primary",
        "eventId": "={{$json.uid}}",
        "summary": "={{$json.summary}}",
        "start": "={{$json.start}}",
        "end": "={{$json.end}}",
        "additionalFields": {
          "description": "={{$json.description}}",
          "location": "={{$json.location}}"
        }
      },
      "id": "7",
      "name": "Target Google Calendar",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 3,
      "position": [
        1400,
        140
      ],
      "credentials": {
        "googleCalendarOAuth2": {
          "name": "Google Calendar (Target)"
        }
      }
    },
    {
      "parameters": {
        "resource": "event",
        "operation": "upsert",
        "calendar": "icloud-calendar-id",
        "additionalFields": {
          "title": "={{$json.summary}}",
          "description": "={{$json.description}}",
          "location": "={{$json.location}}",
          "start": "={{$json.start}}",
          "end": "={{$json.end}}",
          "uid": "={{$json.uid}}"
        }
      },
      "id": "8",
      "name": "iCloud CalDAV Calendar",
      "type": "n8n-nodes-base.caldav",
      "typeVersion": 1,
      "position": [
        1400,
        460
      ],
      "credentials": {
        "calDav": {
          "name": "iCloud CalDAV"
        }
      }
    }
  ],
  "connections": {
    "Weekday Hourly Trigger": {
      "main": [
        [
          {
            "node": "Set Time Window",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Time Window": {
      "main": [
        [
          {
            "node": "Source Calendar A",
            "type": "main",
            "index": 0
          },
          {
            "node": "Source Calendar B",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Source Calendar A": {
      "main": [
        [
          {
            "node": "Merge Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Source Calendar B": {
      "main": [
        [
          {
            "node": "Merge Feeds",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Feeds": {
      "main": [
        [
          {
            "node": "Normalize Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Events": {
      "main": [
        [
          {
            "node": "Target Google Calendar",
            "type": "main",
            "index": 0
          },
          {
            "node": "iCloud CalDAV Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "timezone": "America/New_York"
  },
  "pinData": {},
  "versionId": "calendar-sync-v1"
}
